<html><head>
    <link rel="icon" href="data:image/ico;base64,aWNv">
    <title>Create short URL</title>
</head>
<h1>Please fill the form to create short URL</h1>
<body>

<form action="ShortenURL" method="post">
    <fieldset>
    <label for="ourl">Original URL:</label>
    <input type="text" id="ourl" name="ourl" value="" size="100"> *
    <br><br>
    <label for="label">Label of URL:</label>
    <input type="text" id="label" name="label" value="" size="50"> (optional)
    </fieldset>
    <br><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>